<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DBCS"
         connectionString="data source=NIKKI-PC\MYSQL;database=CrazyHats;user id=sa; password=123"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DBCS" value="server=hyperdisc.unitec.ac.nz;database=LUANW02sqlserver1; uid=luanw02; password=14101981"/>
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" urlLinePragmas="true"/>
    <customErrors mode="On" defaultRedirect="~/Pages/Error/ErrorPage.aspx?ErrorMessage=Other Errors">
      <error statusCode="500" redirect="~/Pages/Error/ErrorPage.aspx?ErrorMessage=Internal Errors"/>
      <error statusCode="404" redirect="~/Pages/Error/ErrorPage.aspx?ErrorMessage=File is not found"/>
      <error statusCode="403" redirect="~/Pages/Error/ErrorPage.aspx?ErrorMessage=Authorization is failed"/>
    </customErrors>

    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
